.footer {
  background-color: var(--bgr-color);
  padding-top: 60px;
  padding-bottom: 60px;
 }

.footer-logo {
  display: block;
  font-family: Raleway, normal;
  color: var(--accept-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
      display: flex;
    justify-content: center;
  
}

.footer-adress-item {
  display: block;
  margin-bottom: 9px;
  max-height: 21px;
}

.footer-adress-list {
  list-style-type: none;
  margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.logo-text-footer {
  color: var(--primary-bg-color);
}

.footer-mail,
.footer-tel {
  font-style: normal;
  color: var(--transpernt-white-color);
  text-decoration: none;
  line-height: 1.71;
      display: flex;
    justify-content: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail {
    margin-bottom: 9px;

  &:hover,
  &:focus {
  color: var(--accept-color);
    }
}

.footer-map {
  font-style: normal;
  color: var(--primary-bg-color);
  text-decoration: none;
  line-height: 1.71;
      display: flex;
    justify-content: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 &:hover,
 &:focus{
color: var(--accept-color);}
  }

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accept-color);
}

.adress-block {
   @media screen and (min-width: 768px) {
     margin-left: auto;
   }
}

.jion {
  // display: flex;
   align-items: baseline;

   @media screen and (min-width: 768px) {
         display: flex;
    flex-wrap: wrap;}
}

.join-block {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
       margin-right: auto;
    margin-left: 165px;
   }
    
}

.jion-title {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-bg-color);
margin-bottom: 20px;
    display: flex;
    justify-content: center;
}


.footer-net-link {
@extend %equalizer;
justify-content: center;
width: 44px;
height: 44px;
border-radius: 50%;
background: rgba(255, 255, 255, 0.1);
color: var(--primary-bg-color); 

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
  background: var(--accept-color);
}
}

.footer-social-icon {
  fill: currentColor;
}

.action {
  margin-left: auto;
  text-align: center;
  @media screen and (min-width: 768px)
 {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}
}

// .action-mail {
//   display: block;
//   // display: flex;
// }

.action-title {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-bg-color);
margin-bottom: 20px;
margin-right: 10px;
display: flex;
justify-content: center;
}

.action-input {
  width: 100%;
// width: 358px;
padding: 16px 15px;
border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
color: rgba(255, 255, 255, 0.6);
outline: none;
background: #2F303A;
margin-bottom: 20px;
// margin-right: 12px;

@media screen and (min-width: 480px) {
    width: 450px;
  }
}

.action-btn {
  
  color: var(--primary-bg-color);
  background-color: var(--accept-color);
  font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;

width: 200px;
max-height: 50px;
display: flex;
margin: 0 auto;
// margin-bottom: 60px;


box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

padding: 13px 28px;
cursor: pointer;

// @extend %equalizer;
text-align: center;
border: none;

&:hover,
&:focus {
  background-color: var(--hidden-color);
}
}

.action-icon {
  display: inline-block;
  fill: var(--primary-bg-color);
  margin-left: 12px;
  align-items: center;
}

