:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-color: rgba(255, 255, 255, 0.6);
  --accept-color: #2196f3;
  --primary-bg-color: #ffffff;
  --bgr-color: #2f303a;
  --black-color: #000000;
  --bgr-secondary-color: #f5f4fa;
  --transpernt-white-color: rgba(255, 255, 255, 0.6);
  --hidden-color: #188ce8;
  --timing: 250ms;
  --cubic-bezier: (0.4, 0, 0.2, 1);
}